<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Church Contributions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>


<h2>Church Contributions</h2>
<div style="text-align: center; margin-bottom: 20px;">
    <a th:href="@{/add}">Add New Contribution</a>
    <a th:href="@{/logout}" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
</div>
<table>
    <tr>
        <th>Month</th>
        <th>Date</th>
        <th>Tithes Type</th>
        <th>Sadaka</th>
        <th>Fungu</th>
        <th>Transactions</th>
        <th>Totals</th>
        <th>S Totals</th>
        <th>G Totals</th>
        <th>Actions</th>
    </tr>
    <tr th:each="contribution : ${contributions}">
        <td th:text="${contribution.month}"></td>
        <td th:text="${contribution.date}"></td>
        <td th:text="${contribution.tithesType}"></td>
        <td th:text="${#numbers.formatDecimal(contribution.sadaka, 2, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(contribution.fungu, 2, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(contribution.transactions, 2, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(contribution.totals, 2, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(contribution.sTotals, 2, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(contribution.gTotals, 2, 2)}"></td>
        <td style="text-align: center;">
            <a th:href="@{/edit/{id}(id=${contribution.id})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${contribution.id})}" onclick="return confirm('Are you sure?')">Delete</a>

        </td>
    </tr>
</table>



<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
