<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logout Successful</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href = "@{/style.css}">
    <link rel="stylesheet" th:href = "@{/css/logout.css}">
</head>
<body>
<div class="logout-success-form">
    <h2>Logout Successful</h2>
    <p>You have been logged out successfully. Thank you for using our application!</p>
    <a th:href="@{/login}">Click here to log in again</a>
</div>
</body>
</html>